* { box-sizing: border-box; }
:root {
  --potato-height: 550px;
  --potato-width: 400px;
}

#playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
}
/*---------------|Cabeza y sombrero|---------------*/
.potato {
  /* centramos verticalmente la patata */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la patata */
  height: var(--potato-height);
  width: var(--potato-width);
}

.head {
  top: -75px;
  height: var(--potato-height);
  width: var(--potato-width);
  background-color:  #9a5831 ;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background-color: #ac6942  ;
  border: solid  #663a20  ;
}

.hat{
  position: absolute;
  left: 140px;
  top: -90px;
  height: 150px;
  width: 125px;
  background-color: black;
  border-radius: 45%;
}

.hat2{
  position: absolute;
  left: 55px;
  top: -10px;
  height: 85px;
  width: 300px;
  background-color: black;
  border-radius: 100%;
  border: solid #3a0000 ;

}
/*----------------------//-----------------------*/

/*--------------------|Orejas|---------------------*/
.ears{

  left: 500px;
  top: 115px;
  height: 75px;
  width: 400px;
}
.left-ear{
  position: absolute;
  left: -50px;
  top: 30px;
  height: calc(var(--potato-height) / 3);
  width: calc(var(--potato-width) / 3);
  border-radius: 50%;
  background-color:  #ff9dd3 ;
  border: solid   #d476aa ;

}
.right-ear{
  position: absolute;
  right: -50px;
  top: 30px;
  height: calc(var(--potato-height) / 3);
  width: calc(var(--potato-width) / 3);
  border-radius: 50%;
  background-color:  #ff9dd3 ;
  border: solid   #d476aa ;

}
/*----------------------//-----------------------*/

/*----------------------/Ojos/-----------------------*/
.eye {
  top: 80px;
  position: relative;
  height: 10em;
  width: calc(var(--potato-width) / 3);
  border-radius: 50%;
  background-color: white;
  border:  solid  #663a20  ;
}

.pupil {
  height: 60px;
  width: 40px;
  border-radius: 50%;
  border: solid   #0086b4  ;
  background-color:  #02b5f2 ;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.left-eye {
  left: 4em;
  float: left;
}

.right-eye {
  right: 4em;
  float: right;
}
.subpupil {
  height: 25px;
  width: 20px;
  border-radius: 50%;
  background-color:  black;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}
/*----------------------//-----------------------*/

/*----------------------/Nariz/-----------------------*/

.nose {
  height: 7em;
  width: 50%;
  border-radius: 50%;
  border: solid  #a01600 ;
  background-color:   #ff2300 ;
  margin: 0 auto;
  position: relative;
  top: 15em;
  z-index: 1;
}
/*----------------------//-----------------------*/

/*----------------------/Bigote/-----------------------*/
.moustache{
  position: relative;
  width: 250px;
    height: 110px;
    border: 2px solid  #333333 ;
    background: black;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    top: 115px;
    left: 74px;

}
/*----------------------//-----------------------*/

/*----------------------/Boca/-----------------------*/
.mouth{
  height: 5em;
  width: 50%;
  border-radius: 50%;
  background-color: white;
  border: 15px solid darkred;
  margin: 0 auto;
  position: relative;
  top: 250px;
}
